.cardContainer {
 /* width: fit-content;
 height: fit-content; */
 width: 195px;
 height: 420px auto;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 box-shadow: 6px 10px 10px rgba(0, 0, 0, .1);
 border-radius: 10px;
 border: 1px solid rgb(231, 229, 229);

}

.image {
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 transition: all 0.5s ease;
 object-fit: cover;
}

.image:hover {
 transform: scale(0.99);
}

.title {
 display: flex;
 padding: 8px 0 8px 8px;
 justify-content: center;
 align-items: center;
 text-transform: capitalize;
 align-items: center;
 font-size: 18px;
 font-weight: 400;
 letter-spacing: 1.2px;
 color: rgb(66, 65, 65);
}