.cardContainer {
 width: 220px;
 height: fit-content;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 background-color: rgb(46, 5, 86);
 border-radius: 10px;

}

.cardContent {
 color: white;
}

.image {
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.title {
 text-align: center;
 font-size: 18px;
 font-weight: 400;
 letter-spacing: 1.1px;
}