.navbarContainer {
 min-height: fit-content;
 /* background-color: rgb(46, 5, 86); */
 color: black;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 30px;
 letter-spacing: 1.5px;
 border-bottom: 2px solid rgb(215, 210, 210);
}

.linkItems {
 display: flex;
 align-items: center;
 gap: 30px;
}

.title {
 font-size: 32px;
 font-weight: 600;
 text-transform: capitalize;
 color: rgb(33, 66, 4);
}

.linkItem {
 text-transform: capitalize;
 font-size: 22px;
 font-weight: 400;
 letter-spacing: 2px;

}