.sidebarContainer {
 display: flex;
 flex: 3;
 flex-direction: column;
 justify-content: flex-start;
 padding-left: 25px;
 position: sticky;
 height: 100px;
 top: 0;

}

.icon {
 font-size: 28px;
 margin-left: 5px;
}

.filtersortContainer {
 display: flex;
 gap: 10px;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
}

.filtersortContainer>p {
 width: fit-content;
 padding: 5px 15px;
 display: flex;
 background-color: rgb(6, 87, 36);
 color: white;
 border-radius: 5px;
 font-size: 18px;
 font-weight: 400;
 text-align: center;

}

.title {
 display: flex;
 justify-content: center;
 text-transform: uppercase;
 align-items: center;
 cursor: pointer;
 font-weight: 500;
 font-size: 22px;
 /* background-color: rgb(45, 7, 54); */
 color: black;
 border-radius: 10px;
 padding: 10px 0;
 letter-spacing: 1.1px;
 border: 1px solid rgb(180, 176, 176);
 box-shadow: 6px 10px 10px rgba(0, 0, 0, .1)
}

.genresContainer {
 margin-top: 50px;
 position: relative;
}

.genreItems {
 display: flex;
 gap: 3px;
 flex-wrap: wrap;
 justify-content: flex-start;
 margin-top: 5px;
}

.genreItem {
 padding: 5px 10px;
 border: 2px solid rgb(218, 213, 213);
 border-radius: 10px;
 font-size: 16px;
 margin: 2px 0;
 font-weight: 500;
 cursor: pointer;
}