.sidebarContainer {
 display: flex;
 flex: 2;
 flex-direction: column;
 justify-content: flex-start;
 padding-left: 30px;
 position: sticky;
 height: 100px;
 top: 0;

}

.icon {
 font-size: 28px;
 margin-left: 5px;
}

.filtersortContainer {
 display: flex;
 gap: 30px;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
}

.filtersortContainer>p {
 width: fit-content;
 padding: 5px 15px;
 display: flex;
 background-color: rgb(62, 0, 128);
 color: white;
 border-radius: 5px;
 font-size: 16px;
 font-weight: 500;
 text-align: center;
}

.title {
 display: flex;
 justify-content: center;
 text-transform: uppercase;
 align-items: center;
 cursor: pointer;
 font-weight: 500;
 font-size: 22px;
 background-color: rgb(45, 7, 54);
 color: whitesmoke;
 border-radius: 10px;
 letter-spacing: 1.1px;
}

.genresContainer {
 padding-bottom: 10px;
 margin-top: 50px;
 position: relative;
}

.genreItems {
 display: flex;
 gap: 5px;
 flex-wrap: wrap;
 justify-content: flex-start;
 padding: 0 5px;
 margin-top: 10px;
}

.genreItem {
 padding: 5px 10px;
 border: 1px solid rgb(194, 180, 180);
 border-radius: 10px;
 font-size: 14px;
 margin: 5px 0;
 cursor: pointer;
}